#	LICENSE
#	This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. If a copy of the MPL was not
#	distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
#
#	END LICENSE

name: slime

x-base-box: &box
    build: .
    environment: &environment
      SLIME_WF_SKIP_GIT_IDENTITY_REQUIREMENT: 1
      # The HOST_UNAME variable is set via the contributor/docker-compose command-line program and will not be present when
      # Docker Compose is invoked directly (unless you supply it). It is used to disable tests that are unstable on certain host
      # operating systems running Docker Desktop.
      DOCKER_HOST_UNAME: ${DOCKER_HOST_UNAME}
    working_dir: /slime
    depends_on:
      - chrome
      - firefox
      - novnc

x-base-test: &test
    <<: *box
    command: /bin/bash /slime/wf check --docker

services:
  # Produces a blank SLIME container for development (along with Chrome and Firefox browsers ready to be driven by it)
  box:
    <<: *box

  # Produces a SLIME container for testing under JDK 8
  test8:
    <<: *test
    environment:
      <<: *environment
      SLIME_WF_JDK_VERSION: 8

  # Produces a SLIME container for testing under JDK 11
  test11:
    <<: *test
    environment:
      <<: *environment
      SLIME_WF_JDK_VERSION: 11

  # Produces a SLIME container for testing under JDK 17
  test17:
    <<: *test
    environment:
      <<: *environment
      SLIME_WF_JDK_VERSION: 17

  test21:
    <<: *test
    environment:
      <<: *environment
      SLIME_WF_JDK_VERSION: 21

  # Produces a stateful, persistent SLIME container that begins as a blank box with the source directory mounted. Local changes
  # (to the local/ subdirectory, like installing JDKs, Rhino, Tomcat, and so forth) will persist between runs.
  #
  # Also used by the devcontainer implementation.
  local:
    <<: *box
    environment:
      <<: *environment
      TZ: ${TZ}
      DISPLAY: novnc:0.0
    command: /bin/bash
    volumes:
      - type: bind
        source: .
        target: /slime
      - type: volume
        source: local
        target: /slime/local
      - ./local/docker/home:/root
    ports:
      - 8000:8000

  chrome:
    image: seleniarm/standalone-chromium
    ports:
      - 7900:7900

  firefox:
    image: seleniarm/standalone-firefox
    ports:
      - 7901:7900

  novnc:
    image: theasp/novnc:latest
    environment:
      RUN_XTERM: no
    ports:
      - 7902:8080

volumes:
  local:
