/*
LICENSE
This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. If a copy of the MPL was not
distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.

END LICENSE
*/
* {
	font-family: arial;
}

.success {
	background-color: green;
	color: white;
}

.failure {
	background-color: red;
	color: white;
}

body>div {
	padding: 0.5em;
}

div>div {
	padding: 0.1em 0.0em;
}
div[data-fifty-id="tests"]>div {
	padding: 0.1em 0.8em;
}
div[data-fifty-id="tests"] {
	border-left: 1px solid white;
}
