<!--
LICENSE
This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. If a copy of the MPL was not
distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.

The Original Code is the SLIME servlet interface.

The Initial Developer of the Original Code is David P. Caldwell <david@davidpcaldwell.com>.
Portions created by the Initial Developer are Copyright (C) 2012-2013 the Initial Developer. All Rights Reserved.

Contributor(s):
END LICENSE
-->
<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" version="2.5">
	<servlet>
		<servlet-name>slime</servlet-name>
		<servlet-class>inonit.script.servlet.Servlet</servlet-class>
		<init-param>
			<param-name>script</param-name>
			<param-value>__SCRIPT__</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>slime</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
</web-app>
