#	LICENSE
#	This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. If a copy of the MPL was not
#	distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
#
#	END LICENSE

name: metrics
on:
  push:
    branches:
      - main
jobs:
  jsapi:
    name: JSAPI-to-Fifty progress
    runs-on: macos-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
      - name: Run the script
        run: env JSH_LAUNCHER_JDK_HOME=${JAVA_HOME_21_arm64} JSH_JAVA_HOME=${JAVA_HOME_21_arm64} ./jsh tools/code/metrics.jsh.js jsapi
        shell: bash
  types:
    name: Coverage data for type annotations
    runs-on: macos-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
      - name: Run the script
        run: env JSH_LAUNCHER_JDK_HOME=${JAVA_HOME_21_arm64} JSH_JAVA_HOME=${JAVA_HOME_21_arm64} ./jsh tools/code/metrics.jsh.js types
        shell: bash
  eslint:
    name: ESLint
    runs-on: macos-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
      - name: Run ESLint's default command
        run: env JSH_LAUNCHER_JDK_HOME=${JAVA_HOME_21_arm64} JSH_JAVA_HOME=${JAVA_HOME_21_arm64} ./jsh contributor/eslint.jsh.js
        shell: bash
      - name: Run the ESLint warning report
        run: env JSH_LAUNCHER_JDK_HOME=${JAVA_HOME_21_arm64} JSH_JAVA_HOME=${JAVA_HOME_21_arm64} ./jsh contributor/eslint-report.jsh.js
        shell: bash
  size:
    name: List source files exceeding maximum number of lines
    runs-on: macos-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
      - name: Run the script
        run: env JSH_LAUNCHER_JDK_HOME=${JAVA_HOME_21_arm64} JSH_JAVA_HOME=${JAVA_HOME_21_arm64} ./jsh tools/code/metrics.jsh.js size
        shell: bash
