#	LICENSE
#	This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. If a copy of the MPL was not
#	distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
#
#	END LICENSE

name: test-jdk8
on:
  pull_request:
    branches:
      - '**'
  push:
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: true
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
      - name: Check out repository code
        uses: actions/checkout@v2
      - name: Use Docker to create image, and then run the linting and tests
        env:
          SLIME_TEST_NO_WF_SUBMODULE_RESET: 1
        run: contributor/suite-docker 8
